<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要日历权限用于添加日历时间提醒</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要相机权限用于拍照添加事件记录</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要相册权限用于选择图片添加事件</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要相册权限用于保存图片到相册</string>
	<key>NSFaceIDUsageDescription</key>
	<string>App需要面容ID权限用于生物识别验证</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Days Reminder</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Days Reminder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIUserNotificationSettings</key>
	<dict>
		<key>UIUserNotificationTypes</key>
		<integer>7</integer>
		<key>UIUserNotificationAlertStyle</key>
		<integer>1</integer>
		<key>UIUserNotificationBadgeSetting</key>
		<integer>0</integer>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
